<html>
<head>
</head>
<body>
<a href="javascript:void(0);" onclick="notify()">Enable notifications</a>
<script>
function notify() {
  var havePermission = window.webkitNotifications.checkPermission();
  if (havePermission == 0) {
    // 0 is PERMISSION_ALLOWED
    var notification = window.webkitNotifications.createNotification(
      'http://localhost:3000/notifications',
      'Chrome notification!',
      'Ola!'
    );

    notification.show();
  } else {
      window.webkitNotifications.requestPermission();
  }
}  
</script>
</body>
</html>
